
nav #main-nav-bar {
  text-align: center;
}

div #home-content {
  float: none;
}

#header, #wrapper {
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 990px;
}

#logo {
  padding-bottom: 20px;
}

div #search-bar {
  float:left;
}
