body {
  background:#f8f6f1;
  color: #414141;
  font-family: Tahoma, Arial;
  margin: 0;
  padding: 0;
}
a, p, h1, h2, h3, h4, h5, h6 {
  color: #414141;
  font-family: Tahoma, Arial;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
a, img {
  border: medium none;
  outline: medium none;
  text-decoration: none;
}
*::-moz-selection {
 background-color: #414141;
 color: #f8f6f1;
}
* {
  margin: 0;
  padding: 0;
}
.clr {
  clear: both;
}
.container {
  float:left;
  width:100%;
  height:auto;
}
.header {
  margin-left:auto;
  margin-right:auto;
  width:990px;
  height:180px;
}
.header-top {
  float:left;
  width:990px;
  height:60px;
  margin-top: 12px;
}
.search-main {
  float:left;
  width:150px;
  height:25px;
  margin-top:17px;
  background:#fff;
  border:1px solid #d6d4d3;
}
.search {
  float:left;
  width:120px;
  height:25px;
  font-size:12px;
  color:#989898;
  text-transform:uppercase;
  padding-left:5px;
  border:none;
}
.top-links {
  float:right;
  width:110px;
  height:15px;
  margin-right: 10px;
  margin-top:18px;
}
.top-links ul {
  list-style: none outside none;
}
.top-links ul li {
  font-size:12px;
  color:#625044;
  text-transform:uppercase;
  display:inline;
}
.top-links ul li a {
  font-size:12px;
  color:#625044;
  text-transform:uppercase;
  transition: all 0.3s ease 0s;
}
.top-links a:hover {
  color:#94867b;
  transition: all 0.3s ease 0s;
}
.cart {
  float:right;
  width:145px;
  height:60px;
  font-size:12px;
  color:#625044;
  text-transform:uppercase;
}
.cart-img {
  float:left;
  width:40px;
  height:55px;
}
.cart-cont {
  float:left;
  width:95px;
  height:50px;
  margin-top:10px;
  margin-left:8px;
}
#select {
  float:left;
  width:95px;
  height:20px;
  font-size:10px;
  color:#625044;
  text-transform:uppercase;
  border:none;
  background:none;
  margin-top: 5px;
}
.header-bottom {
  float: left;
  margin-left: 150px;
  width: 660px;
}
.navigation {
  float: left;
  height: 25px;
  margin-left: 50px;
  margin-top: 38px;
  width: 190px;
}
.navigation ul {
  list-style: none outside none;
}
.navigation ul li {
  color:#625044;
  font-family: Tahoma, Arial;
  font-size: 16px;
  text-transform: uppercase;
  display:inline;
  margin-right:20px;
}
.navigation ul li a {
  color:#625044;
  font-family: Tahoma, Arial;
  font-size: 16px;
  text-transform: uppercase;
  display:inline;
  transition: all 0.3s ease 0s;
}
.navigation ul li a:hover {
  color:#94867b;
  transition: all 0.3s ease 0s;
}
.logo {
  float:left;
  width:155px;
  height:115px;
  margin-top: -30px;
}
.slider {
  margin-left:auto;
  margin-right:auto;
  width: 95%;
  height:860px;
}
.slider-bottom {
  margin-left:auto;
  margin-right:auto;
  width: 95%;
  height:1px;
  background:#c6c5c1;
}
.home-wrap {
  margin-left:auto;
  margin-right:auto;
  width:990px;
  height:325px;
}
.home-box {
  float:left;
  width:280px;
  height:250px;
  font-size:13px;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
}
.home-box span {
  font-family:Georgia;
  font-size:20px;
  color:#000;
}
.home-box-img-outer {
  float:left;
  width:280px;
  height:180px;
  border:#c9c8c4 solid 1px;
  background:#fff;
}
.home-box-img-inner {
  float:left;
  width:270px;
  height:170px;
  border:#c9c8c4 solid 1px;
  margin:4px 0 0 4px;
}
.home-box-content {
  float:left;
  width:280px;
  height:auto;
  margin:4px 0 0 0;
}


.footer {
  float:left;
  width:100%;
  height:200px;
}
.footer-pre {
  float:left;
  width:100%;
  height:170px;
  background:url(foot-bg.jpg) repeat-x;
}
.footer-pre-wrap {
  margin-left:auto;
  margin-right:auto;
  width:960px;
  height:170px;
}
.foot-links {
  float:left;
  width:150px;
  height:138px;
  margin-top:30px;
  margin-left: 20px;
}
.nav-head {
  float:left;
  width:140px;
  height:auto;
  font-size:16px;
  margin-bottom: 5px;
}
.nav {
  float: left;
  height:auto;
  width: 140px;
}
.nav ul {
  list-style: none outside none;
}
.nav ul li {
  color:#757575;
  font-family: Tahoma, Arial;
  font-size:12px;
  line-height: 20px;
}
.nav ul li a {
  color:#757575;
  font-family: Tahoma, Arial;
  font-size:12px;
  transition: all 0.3s ease 0s;
}
.nav ul li a:hover {
  color:#414141;
  transition: all 0.3s ease 0s;
}
.foot-part-line {
  float:left;
  width:3px;
  height:125px;
  background:url(../images/foot-part-line.png) repeat-y;
  margin-top:30px;
  margin-left: 25px;
  margin-right: 60px;
}
.social {
  float:left;
  width:150px;
  height:138px;
  margin-top:30px;
  margin-left: 20px;
}
.social-head {
  float:left;
  width:140px;
  height:auto;
  font-size:16px;
  margin-bottom: 5px;
}
.social-nav {
  float: left;
  height:auto;
  width: 140px;
}
.social-nav ul {
  list-style: none outside none;
}
.social-nav ul li {
  color:#757575;
  font-family: Tahoma, Arial;
  font-size:12px;
  line-height: 30px;
  height:30px;
}
.social-nav ul li a {
  color:#757575;
  font-family: Tahoma, Arial;
  font-size:12px;
  height:24px;
  transition: all 0.3s ease 0s;
}
.social-nav ul li a:hover {
  color:#414141;
  transition: all 0.3s ease 0s;
}
.footer-boot {
  background:#000;
  color: #FFFFFF;
  font-size: 11px;
  height: 22px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  text-align: center;
  width: 100%;
}
