<div class="footer">
  <div class="footer-pre">
    <div class="footer-pre-wrap">
      <div class="foot-links">
        <div class="nav-head">Alice Twelve</div>
        <div class="nav">
          <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Shipping Info</a></li>
            <li><a href="#">F.A.Q.</a></li>
            <li><a href="#">Affiliaties</a></li>
          </ul>
        </div>
      </div>
      <div class="foot-part-line"></div>
      <div class="foot-links">
        <div class="nav-head">Services</div>
        <div class="nav">
          <ul>
            <li><a href="#">Orde Status</a></li>
            <li><a href="#">Shipping Info</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Credit</a></li>
          </ul>
        </div>
      </div>
      <div class="foot-part-line"></div>
      <div class="foot-links">
        <div class="nav-head">Policies</div>
        <div class="nav">
          <ul>
            <li><a href="#">Terms of Services</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </div>
      </div>
      <div class="foot-part-line"></div>
      <div class="social">
        <div class="social-head">Follow Us</div>
        <div class="social-nav">
          <ul>
            <li><a href="#"><img src="assets/store/fb.jpg" style="float:left; margin-top:4px; margin-right:5px;" />Facebook</a></li>
            <li><a href="#"><img src="assets/store/twitter.jpg" style="float:left; margin-top:4px; margin-right:5px;" />Twitter</a></li>
            <li><a href="#"><img src="assets/store/blogger.jpg" style="float:left; margin-top:4px; margin-right:5px;" />Blogger</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-boot">© Copyright 2013 Alice Twelve</div>
</div>
