  <div class="slider">

    <div id="ei-slider" class="ei-slider">
      <ul class="ei-slider-large">
        <li>
        <img src="assets/store/large/1.jpg" alt="image01"/>
        </li>
        <li>
        <img src="assets/store/large/2.jpg" alt="image02"/>
        </li>
        <li>
        <img src="assets/store/large/1.jpg" alt="image03"/>
        </li>
        <li>
        <img src="assets/store/large/2.jpg" alt="image04"/>
        </li>
      </ul>
      <ul class="ei-slider-thumbs">
        <li class="ei-slider-element">Current</li>
        <li><a href="#">Slide 1</a><img src="assets/store/thumbs/1.jpg" alt="thumb01" />1. Make up &nbsp;</li>
        <li><a href="#">Slide 2</a><img src="assets/store/thumbs/2.jpg" alt="thumb02" />2. Maecenas quis ante &nbsp;</li>
        <li><a href="#">Slide 3</a><img src="assets/store/thumbs/3.jpg" alt="thumb03" />3. Integer in nisi quam &nbsp;</li>
        <li><a href="#">Slide 4</a><img src="assets/store/thumbs/4.jpg" alt="thumb04" />4. Mauris ligula nulla &nbsp;</li>
      </ul>
    </div>

  </div>
  <div class="slider-bottom"></div>
  <div class="home-wrap">
    <div class="home-box">
      <div class="home-box-img-outer"><div class="home-box-img-inner"><img src="assets/store/home-img-1.jpg" /></div></div>
      <div class="home-box-content"><span><em>Maecenas quis</em></span><br />Pellentsque habitnt morbi tristique senectus. <a href="#"><img src="assets/store/org-arrow.png" /></a></div>
    </div>
    <div class="home-box">
      <div class="home-box-img-outer"><div class="home-box-img-inner"><img src="assets/store/home-img-2.jpg" /></div></div>
      <div class="home-box-content"><span><em>Pellentesque posuere</em></span><br />Lorem ipsum dolor sit amet, consectetur. <a href="#"><img src="assets/store/org-arrow.png" /></a></div>
    </div>
    <div class="home-box">
      <div class="home-box-img-outer"><div class="home-box-img-inner"><img src="assets/store/home-img-3.jpg" /></div></div>
      <div class="home-box-content"><span><em> Donec non diam</em></span><br />Pellenteque habitnt morbi tristique senectus. <a href="#"><img src="assets/store/org-arrow.png" /></a></div>
    </div>
  </div>
  
